.comments-scroll-container {
    transition: all 1s all ease-in-out;
    .thumb-vertical {
        background-color: #42b18e;
        transition: 0.2s opacity ease-in-out;
        border-radius: 10px;
        opacity: 0;
    }

    &:hover {
        .thumb-vertical {
            opacity: 1 !important;
        }
    }
}

.comment {
    &__add-reply {
        width: fit-content;
        position: relative;
        display: flex;
        align-items: center;
        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0%;
            transition: all 0.2s ease-in-out;
            background-color: #00724e;
        }

        &::after {
            background-color: #b4c0c5;
            width: 100%;
            z-index: 1;
        }

        &::before {
            z-index: 2;
        }

        &:focus-within::before {
            // background-color: red;
            width: 100%;
        }

        input {
            border: none;
            outline: none !important;
            background-color: transparent;
        }
    }

    &__reply {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            border: 2px solid #00724e;
            border-top: none;
            border-right: none;
            border-radius: 0 0 0 5px;
            top: 0;
            left: 20px;
            width: 20px;
            height: 50%;
        }
    }
}
